@import "./InfoPage";
@import "./footer.scss";
@import "./settings.scss";
@import "./logo";
@import "./navigation";
@import "./wallPaper";
@import "./main";
@import "./Form";

.cards-box{
    background-color: yellowgreen;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    // text-align: center;
    // align-content: space-between;
    // justify-items: flex-end;
    
}
.cards{
    background-color:orangered;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 80%;
}
.info{
    section{
        display: flex;
        div{
            flex-direction: column;
        }

    }
  }
}

.flex-members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  margin: 5px;
  border: 2px solid grey;
}
.section-story{
    padding: 5%;
    background-color: rgb(72, 72, 72);
    color: white;
}
.section-members{
    padding: 5%;
    // background-color: rgb(72, 72, 72);
}
.section-info{
    padding: 5%;
    background-color: rgb(72, 72, 72);
}
.section-contact{
    padding: 5%;
    // background-color: rgb(72, 72, 72);
    
}
@media screen and (max-width: 440px) {
    .navigation{
        display: none;
    }
    .burger-menu{
        z-index: 10;
    }
  .section-story {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .wall {
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -160%;
  }
}
